.App {
}

.App-header {
  margin-bottom: 1rem;
}

.App-Card {
  margin-left:  5%;
  margin-right: 5%;
}

.App-title {
  font-size: 1.5rem;
}

.App-Bookmarks {
  margin-left:  5%;
  margin-right: 5%;
}

.App-list-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-body {
  padding: 0;
}
